@import '@styles/shared.scss';

.LayoutContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.NavigationMenuContainer {
  width: $columnSize;
  background-color: $secondaryBackgroundColor;
}

.MainContainer {
  flex: 1;
  padding: 40px;
  overflow-y: auto;
  overflow-x: hidden;
}

.UserMenuContainer {
  width: calc($columnSize * 4);
  background-color: $secondaryBackgroundColor;
}
