@import '@styles/shared.scss';

$userMenuWidth: calc($columnSize * 4);

.LayoutContainer {
  width: 100%;
  height: 100%;
  display: flex;
}

.NavigationMenuContainer {
  width: $columnSize;
  background-color: $secondaryBackgroundColor;
  z-index: 1000;
}

.MainContainer {
  width: calc(100% - $userMenuWidth);
  padding: 40px;
  overflow: hidden;
}

.UserMenuContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: $userMenuWidth;
  background-color: $secondaryBackgroundColor;
}
