$backgroundColor: #363347;
$secondaryBackgroundColor: #49445f;

$blueAccentColor: #4799eb;
$purpleAccentColor: #4d33cc;
$darkPurpleAccentColor: #2a1945;

$secondaryTextColor: #afb5c0;
$disabledColor: #6d7992;
$textColor: #e2e4e9;

$errorColor: #c73b43;
$vineColor: #7c2126;
$successColor: #0eb63d;
