@mixin gradient {
  background: $purpleAccentColor;
  background: linear-gradient(100.84deg, $purpleAccentColor 0%, #cc33cc 100%);
}

@mixin outline {
  outline: 1px solid $blueAccentColor;
}

@mixin transition {
  transition: all 0.1s ease-in;
}

@mixin truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin boxShadow($intensity: 20px) {
  -webkit-box-shadow: 0px 0px $intensity 0px $backgroundColor;
  box-shadow: 0px 0px $intensity 0px $backgroundColor;
}
