@mixin gradient {
  background: $purpleAccentColor;
  background: linear-gradient(100.84deg, $purpleAccentColor 0%, #cc33cc 100%);
}

@mixin outline {
  outline: 1px solid $blueAccentColor;
}

@mixin transition($transitionType: all) {
  transition: $transitionType 0.2s ease-in;
}

@mixin truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin boxShadow($intensity: 20px, $color: $backgroundColor) {
  -webkit-box-shadow: 0px 0px $intensity 0px $color;
  box-shadow: 0px 0px $intensity 0px $color;
}
