@import 'variables/colors.scss';
@import 'variables/mixins.scss';
@import 'variables/sizes.scss';

.InfoIconCommon {
  color: $secondaryTextColor;
}

.ViewTitle {
  font-size: 25px;
  font-weight: 700;
}
