@import '@styles/shared.scss';

.UndoContainer {
  display: flex;
  align-items: center;
  gap: 30px;

  button {
    background-color: rgba($color: $textColor, $alpha: 0.3);
    width: 60px;
    height: 30px;
    padding: 5px;
    border-radius: 5;
    color: $textColor;
    @include transition(background-color);

    &:hover {
      cursor: pointer;
      background-color: rgba($color: $textColor, $alpha: 0.5);
    }
  }
}
