@import '@styles/shared.scss';

.CardContainer {
  width: 100%;
  min-height: 100px;
  height: fit-content;
  padding: 30px;
  border-radius: $borderRadius;
  background-color: $secondaryBackgroundColor;

  .CardTitle {
    font-size: $mediumFontSize;
    border-bottom: 1px solid $disabledColor;
  }
}
