@import '@styles/shared.scss';

.ButtonContainer {
  button {
    min-width: 30px;
    padding: 12px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darken($color: $blueAccentColor, $amount: 15);
    color: $textColor;
    font-weight: 700;
    border: none;
    border-radius: $borderRadius;
    outline: transparent;
    @include transitionMultiple(background-color, color);

    &[disabled] {
      background-color: darken($color: $blueAccentColor, $amount: 30);
      color: $disabledColor;
      pointer-events: none;
    }

    &.secondary {
      background-color: transparent;
      border: 2px solid $blueAccentColor;
    }
    &.disruptive {
      background-color: darken($color: $errorColor, $amount: 15);
      &:hover {
        background-color: $errorColor;
      }
    }
    &.small {
      font-size: $smallFontSize;
      height: 35px;
      padding: 5px 8px;
    }

    &:focus {
      @include outline;
    }
    &:not(.disruptive):not(.IconButton):focus {
      background-color: $blueAccentColor;
    }

    &:hover {
      cursor: pointer;
      @include boxShadow;
    }
    &:not(.disruptive):not(.IconButton):hover {
      background-color: $blueAccentColor;
    }

    &.IconButton {
      background-color: transparent;

      &.disruptive {
        color: darken($color: $errorColor, $amount: 15);
        background-color: transparent;
        &:hover {
          color: $errorColor;
          background-color: transparent;
        }
      }
    }
  }
}
