@import '@styles/shared.scss';

.ButtonContainer {
  button {
    min-width: 30px;
    padding: 12px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darken($color: $blueAccentColor, $amount: 15);
    color: $textColor;
    font-weight: 700;
    border: none;
    border-radius: $borderRadius;
    outline: transparent;
    @include transition;

    &[disabled] {
      background-color: darken($color: $blueAccentColor, $amount: 30);
      pointer-events: none;
    }

    &.secondary {
      background-color: transparent;
      border: 2px solid $blueAccentColor;
    }
    &.disruptive {
      background-color: darken($color: $errorColor, $amount: 15);
      &:hover {
        background-color: $errorColor;
      }
    }

    &:focus {
      @include outline;
    }
    &:not(.disruptive):focus {
      background-color: $blueAccentColor;
    }

    &:hover {
      cursor: pointer;
      @include boxShadow;
    }
    &:not(.disruptive):hover {
      background-color: $blueAccentColor;
    }
  }
}
