@import '@styles/shared.scss';

.TabsContainer {
  display: flex;
  align-items: center;
  gap: 20px;

  & .TabItem {
    position: relative;
    min-width: 70px;
    height: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      transform: scaleX(0);
      transform-origin: bottom left;
      background-color: $blueAccentColor;
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2px;
      @include transition;
    }

    &.active::after {
      transform: scaleX(1);
    }

    &.disabled {
      color: $disabledColor;
      pointer-events: none;
    }
  }
}
