@import '@styles/shared.scss';

.AccountCard.CardContainer {
  width: 200px;
  position: relative;
  display: grid;
  grid-template-columns: auto 30px;
  grid-template-rows: 20px auto 20px;
  grid-template-areas:
    'title currency'
    'description .'
    'ballance .';
  @include boxShadow;
  @include gradient;

  & .AccountTitle {
    font-weight: 700;
    grid-area: title;
  }
  & .AccountDescription {
    color: $secondaryTextColor;
    grid-area: description;
  }
  & .AccountBallance {
    font-weight: 700;
    grid-area: ballance;
  }
  & .AccountCurrency {
    font-weight: 700;
    grid-area: currency;
  }

  & .AccountCardActionsContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: rgba($color: #0000, $alpha: 0.3);
    border-radius: $borderRadius;
    opacity: 0;
    @include transition(opacity);

    & .AccountCardAction {
      &:hover {
        cursor: pointer;
        color: darken($color: $textColor, $amount: 15);
      }
    }
    &:hover {
      opacity: 1;
    }
  }
}
