@import '@styles/shared.scss';

@keyframes removingAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@mixin tableColumns {
  display: grid;
  grid-template-columns: 60px repeat(5, minmax(50px, 1fr)) 1fr;
  column-gap: 20px;
  align-items: center;
  justify-items: flex-start;
  min-width: 600px;
}

.TransactionsViewContainer {
  height: 100%;
  width: 100%;

  .TransactionsViewTopSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & .TransactionViewImportBlock {
      display: flex;
      align-items: center;
      gap: 20px;

      & .TransactionViewImportInfo {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }

  .TransactionsViewFilterSection {
    display: flex;
    align-items: center;
    gap: 20px;

    .AmountOfItems {
      display: flex;
      align-items: center;
      padding-right: 20px;
      height: 30px;
      color: $secondaryTextColor;
      border-right: 2px solid $disabledColor;
    }
  }

  .TransactionListContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 0;
    height: 85%;

    & .Block {
      width: 100%;
      span {
        display: block;
        @include truncate;
      }
    }

    & .TransactionListHeader {
      padding: 10px 20px 10px 10px;
      @include tableColumns;
      & .Block {
        display: flex;
        align-items: center;
        gap: 5px;

        &:last-of-type {
          display: flex;
          justify-content: end;
        }

        & .SortButtons {
          display: flex;
          flex-direction: column;
          padding: 5px 3px;

          &:hover {
            cursor: pointer;
          }

          & .Sort-asc,
          & .Sort-desc {
            background-color: transparent;
            color: $disabledColor;
          }
          &.asc .Sort-asc {
            color: $blueAccentColor;
          }

          &.desc .Sort-desc {
            color: $blueAccentColor;
          }
        }
      }
    }

    & .EmptyListPlaceholderContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 60px;
      text-transform: uppercase;
      font-size: $largeFontSize;
      color: $disabledColor;
    }

    & .TransactionsList {
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow-y: auto;

      & .TransactionItem {
        height: 55px;
        padding: 10px;
        background-color: $secondaryBackgroundColor;
        border-radius: $borderRadius;
        @include tableColumns;
        @include transition(background-color);

        &.removing {
          animation: removingAnimation;
          animation-duration: var(--undo-animation-duration);
        }

        &.selected {
          background-color: rgba($color: $purpleAccentColor, $alpha: 0.2);
        }

        &:hover {
          cursor: pointer;
          background-color: rgba($color: $purpleAccentColor, $alpha: 0.2);
        }

        .TransactionName.Block {
          display: flex;
          flex-direction: column;

          & .description {
            color: $secondaryTextColor;
          }
        }

        .TransactionCategory.Block {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          border-radius: $borderRadius;
          background-color: rgba($color: $darkPurpleAccentColor, $alpha: 0.7);
          &.income {
            outline: 2px solid rgba($color: $successColor, $alpha: 0.3);
          }
          &.outcome {
            outline: 2px solid rgba($color: $errorColor, $alpha: 0.3);
          }
        }

        .TransactionActions.Block {
          display: flex;
          justify-content: end;

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 40px;
            border-radius: $borderRadius;
            background-color: $lightPurpleColor;
            margin: 0 10px;
            color: $textColor;
            @include transition(background-color);

            &:hover,
            &:focus {
              cursor: pointer;
              background-color: rgba(
                $color: $darkPurpleAccentColor,
                $alpha: 0.7
              );
            }
          }
        }
      }
    }
  }

  .TransactionsViewActionManager {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);

    height: 50px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;

    border-radius: $borderRadius;
    background-color: $backgroundColor;
    @include boxShadow(30px);

    .CloseActionManager {
      padding-right: 10px;

      &:hover {
        cursor: pointer;
      }
    }

    .SelectAction {
      display: flex;
      align-items: center;
      font-size: $mediumFontSize;
      gap: 5px;

      b {
        padding-right: 5px;
        font-weight: 700;
      }
    }
  }
}
