@import '@styles/shared.scss';

$activeBackgroundColor: lighten(
  $color: $secondaryBackgroundColor,
  $amount: 15,
);
.OptionContainer {
  padding: 10px 25px;
  flex: 1;
  @include transition;

  &.active {
    background: $activeBackgroundColor;
    font-weight: 700;
  }

  &:hover,
  &:focus-within {
    background-color: $activeBackgroundColor;
    cursor: pointer;
  }
}
